<div class="sub-header-dv">
  <div>
    <h2>Credit Card Management</h2>
    <p>Here are some credit cards added by you:</p>
  </div>
  <div>
    <button type="button" [routerLink]="['/add']" class="btn btn-primary">Add New Card</button>
  </div>
</div>

<div class="card-container">
  
  <!-- Here display the whole cards added by you.. !! -->
  <div class="card bg-light mb-4" *ngFor="let creditCard of creditCards" style="width: 20rem;">
    <div class="card-header">{{creditCard.cardHolderName}}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          CVC
        </div>
        <div class="col-sm-6 col-md-6">
          {{creditCard.cvc}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-6">
          Expiration Date
        </div>
        <div class="col-sm-6 col-md-6">
          {{creditCard.expirationDate}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-6">
          Amount
        </div>
        <div class="col-sm-6 col-md-6">
          {{creditCard.amount}}
        </div>
      </div>
    </div>
  </div>


</div>